body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  text-align: center;
}

#piano {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 50px;
  height: 290px;
  padding: 30px;
  background-color: #7f7988;
  border-radius: 10px;
}

.keys {
  position: relative;
}

.key:active {
  box-shadow: inset 0 2px 0 2px darkgrey;
}

.white-keys {
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.black-keys {
  position: relative;
  z-index: 10;
  display: flex;
}

.white-key {
  width: 68px;
  height: 280px;
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  border: solid #000 2px;
  box-sizing: border-box;
}

.black-key {
  width: 38px;
  height: 160px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  position: absolute;
  background-color: #000;
}

.black-key:nth-child(1) {
  left: 48px;
}

.black-key:nth-child(2) {
  left: 117px;
}

.black-key:nth-child(3) {
  left: 186px;
}

.black-key:nth-child(4) {
  left: 320px;
}

.black-key:nth-child(5) {
  left: 389px;
}

.black-key:nth-child(6) {
  left: 525px;
}

.black-key:nth-child(7) {
  left: 594px;
}

.black-key:nth-child(8) {
  left: 662px;
}

.black-key:nth-child(9) {
  left: 797px;
}

.black-key:nth-child(10) {
  left: 865px;
}

.sticker {
  font-size: 1.5rem;
  text-align: center;
  line-height: 47px;
  font-weight: bold;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  margin: 180px auto 0 auto;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.tan {
  background-color: tan;
}
